img {
    border-radius: 3px;
}

.ing-q {
    line-height: 1.8;
}
.ing-u {
    line-height: 1.8;
}
.ing-i {
    line-height: 1.8;
}

ol {
    max-width: 900px;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
}
ol li {
    margin: 0 0 1rem 0;
    padding: 0.3rem;
    counter-increment: my-awesome-counter;
    position: relative;
}
ol li::before {
    content: counter(my-awesome-counter);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    //transform: rotate(-10deg);
    background: yellowgreen;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 red;
}

hr.style15 {
    border-top: 4px double yellowgreen;
    text-align: center;
}
hr.style15:after {
    // content: "\002665";
    content: url(../../assets/img/recept_leiras_nyito.svg);
    display: inline-block;
    position: relative;
    top: -40px;
    padding: 0.5rem;
    background: #f0f0f0;
    color: yellowgreen;
}

hr.style16 {
    border-top: 4px double yellowgreen;
    text-align: center;
}
hr.style16:after {
    content: url(../../assets/img/recept_leiras_zaro.svg);
    display: inline-block;
    position: relative;
    top: -55px;
    padding: 0.5rem;
    background-color: #f0f0f0;
    color: yellowgreen;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.design-img {
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.design-img img {
    max-height: 170px;
    image-orientation: from-image;
    object-fit: cover;
    vertical-align: middle;
    min-width: 100%;
}

// .content {
//     background-image: url(../../assets/img/bg-pattern.62c26c7b1bf403ce5ca8.png),
//         linear-gradient(90deg, #c8c8c8, #c8c8c8);
//     background-attachment: fixed;
// }

.hozzavalok-img {
    display: block;
    position: relative;
}

.hozzavalok-img::after {
    content: "";
    background: url(../../assets/img/cooking-mix-design.svg) no-repeat top right;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

h1.recipe-name {
    font-family: "Alex Brush", cursive;
    @import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
    letter-spacing: 2px;
}

@media (max-width: 640px) {
    h1.recipe-name {
        font-size: 2.5rem;
    }
}
