<ul class="card">

    <li class="card-item d-flex" *ngFor="let recipe of (categoryList$ | async)">
        <div class="card-content">
            <div class="card-image">
                <img routerLink="/recipes/{{recipe._id}}" src="../../assets/img/recipes/{{recipe.img}}.jpg"
                    alt="{{recipe.img}}">

                <div class="card-name">
                    <span class="card-recipe-name">
                        {{recipe.name}}
                    </span>
                </div>
            </div>
            <!-- </a> -->

            <div class="card-details">
                <p class="card-description">
                    {{recipe.story}}
                </p>

                <div class="card-features">
                    <span class="card-diff">
                        {{recipe.difficulty}}
                    </span>
                    <span class="card-need">
                        {{recipe.time_need}} perc
                    </span>
                    <span class="card-cal">
                        {{recipe.calory}} kcal
                    </span>
                </div>

                <a routerLink="/recipes/{{recipe._id}}" class="card-button">Részletek</a>
            </div>
        </div>
    </li>
</ul>