/* Photos */

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  image-orientation: from-image;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

/*Flex items*/
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: 1rem auto;
}

/* mobil nézet */
.card-item {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  outline: 1px dashed rgba(251, 246, 243, 0.8);
  outline-offset: -1.5rem;
}

/* tablet nézet */
@media all and (min-width: 640px) {
  .card-item {
    width: 50%;
  }
}
/* tablet nézet */

/* desktop nézet */
@media all and (min-width: 960px) {
  .card-item {
    width: 33.33%;
  }
}
/* desktop nézet */

.card-recipe-name {
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
}

.card-features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
  color: rgba(52, 58, 64, 0.8);
  flex: 1;
  align-items: flex-end;
}

@media all and (min-width: 640px) {
  .card-features {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

@media all and (min-width: 1200px) {
  .card-features {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    align-items: flex-end;
  }
}

.card-country {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgba(52, 58, 64, 0.8);
  display: block;
}

.card-image {
  position: relative;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  background-color: #d6d3d1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 3px 3px 0 0;
  width: 100%;
}

.card-name {
  opacity: 0.8;
  background: rgba(251, 246, 243, 0.8);
  padding: 0.3rem;
  width: 100%;
  max-width: 70%;
  min-height: min-content;
  margin: 0 auto -50px;
  box-shadow: 0 0 0 1px #fff inset;
  border: 3px solid #fbf6f3;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  text-align: center;
}

@media all and (min-width: 641px) and (max-width: 1200px) {
  .card-name {
    max-width: 90%;
  }
}

.card-details {
  background-color: #e6dbd4;
  padding: 1rem;
  width: 100%;
  // height: min-content;
  margin: 0 auto;

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.card-description {
  padding-top: 30px;
  text-align: center;
  color: rgba(52, 58, 64, 0.8);
}

/* card méretarány  668px 418px 62%*/

.card-button {
  background-color: rgba(52, 58, 64, 0.5);
  border: 0;
  color: white;
  padding: 0.7rem;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.card-button:hover {
  background-color: rgba(52, 58, 64, 0.8);
}
