<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card p-3">

                <div *ngIf="new" class="card-header card-header-greenish">
                    <h4 class="card-title"> Új menü felvitele</h4>
                    <p class="card-category">Itt adhatod meg egy új menü adatait</p>
                </div>

                <div *ngIf="!new" class="card-header card-header-greenish">
                    <h4 class="card-title">Menü módosítása</h4>
                    <p class="card-category">Itt módosíthatod a menü adatait</p>
                </div>

                <form [formGroup]="menuForm" (ngSubmit)="onSubmit(menu)">

                    <div class="form-group">
                        <label>Menü neve:</label>
                        <input type="text" class="form-control pl-3" name="name" formControlName="name">
                        <div *ngIf="submitted && f.name.errors?.required" class="error">
                            <p>A menü nevének kitöltése kötelező!</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Leves: </label>
                        <select name="soup" formControlName="soup" class="custom-select mb-2">
                            <option value="" disabled>Válassz kategóriát</option>
                            <option *ngFor="let recipe of soup$ | async" [ngValue]="recipe.name">{{recipe.name}}
                            </option>
                        </select>
                        <div *ngIf="submitted && menuForm.controls.soup.errors?.required" class="error">
                            <p>Válassz a lehetőségek közül!</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Főétel: </label>
                        <select name="main" formControlName="main" class="custom-select mb-2">
                            <option value="" disabled>Válassz kategóriát</option>
                            <option *ngFor="let recipe of main$ | async" [ngValue]="recipe.name">{{recipe.name}}
                            </option>
                        </select>
                        <div *ngIf="submitted && menuForm.controls.main.errors?.required" class="error">
                            <p>Válassz a lehetőségek közül!</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Saláta: </label>
                        <select name="salad" formControlName="salad" class="custom-select mb-2">
                            <option value="" disabled>Válassz kategóriát</option>
                            <option *ngFor="let recipe of salad$ | async" [ngValue]="recipe.name">{{recipe.name}}
                            </option>
                        </select>
                        <div *ngIf="submitted && menuForm.controls.salad.errors?.required" class="error">
                            <p>Válassz a lehetőségek közül!</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Desszert: </label>
                        <select name="dessert" formControlName="dessert" class="custom-select mb-2">
                            <option value="" disabled>Válassz kategóriát</option>
                            <option *ngFor="let recipe of dessert$ | async" [ngValue]="recipe.name">{{recipe.name}}
                            </option>
                        </select>
                        <div *ngIf="submitted && menuForm.controls.dessert.errors?.required" class="error">
                            <p>Válassz a lehetőségek közül!</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Az érvényesség hete (szám):</label>
                        <input name="week" type="number" class="form-control pl-3" formControlName="week">
                        <div *ngIf="submitted && (f.week.errors?.pattern ||f.week.errors?.required)" class="error">
                            <p>A hét kitöltése kötelező!</p>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Elküld</button>
                    <div *ngIf="submitted && menuForm.invalid">
                        <p class="error">A hibás mezők javítása szükséges!</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>