footer {
    background-color: black;
}

footer .footer-left,
footer .footer-middle,
footer .copyright {
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
}

footer .footer-left ul li a i {
    color: white;
}

footer .footer-cj {
    color: yellowgreen;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
}

footer .footer-cj:hover {
    border-bottom: 1px solid yellowgreen;
}

footer .copyright i {
    color: red;
}
