<footer class="footer">
    <div class="container-fluid d-flex flex-column flex-sm-row justify-content-sm-between align-items-center">
        <nav class="p-1">
            <ul>
                <li>
                    <a href="/">
                        receptDB
                    </a>
                </li>
            </ul>
        </nav>

        <span class="p-1">&copy; {{time}}</span>

        <div class="copyright p-1">

            made with <i class="material-icons">favorite</i> by
            <a href="https://czetojozsef.hu" target="_blank">czető józsef</a>
        </div>

    </div>
</footer>