.sidebar {
    background-color: #fff;
}

.sidebar li:hover > a,
.sidebar li.active > a,
.sidebar li:hover > a i,
.sidebar li.active > a i {
    color: white;
}

.sidebar li:nth-of-type(1).active > a,
.sidebar li:nth-of-type(1):hover > a {
    background-color: #475a63;
}

.sidebar li:nth-of-type(2).active > a,
.sidebar li:nth-of-type(2):hover > a {
    background-color: #9c27b0;
}

.sidebar li:nth-of-type(3).active > a,
.sidebar li:nth-of-type(3):hover > a {
    background-color: #c7370c;
}

.sidebar li:nth-of-type(4).active > a,
.sidebar li:nth-of-type(4):hover > a {
    background-color: #5cb85c;
}

.sidebar li:nth-of-type(5).active > a,
.sidebar li:nth-of-type(5):hover > a {
    background-color: #ffa726;
}

.sidebar li:nth-of-type(6).active > a,
.sidebar li:nth-of-type(6):hover > a {
    background-color: #582c02;
}

.sidebar li.active > a {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(90, 89, 90, 0.4);
}

.logo {
    display: flex;
    justify-content: center;
}

// .sidebar a.nav-link.color-grey:hover,
// .sidebar a.nav-link.color-grey.active {
//     background-color: #c7370c;
//     color: white;
// }

// .sidebar a.nav-link.color-purplish:hover,
// .sidebar a.nav-link.color-purplish:active {
//     background-color: #9c27b0;
//     color: white;
// }

// .sidebar a.nav-link.color-yellish:hover,
// .sidebar a.nav-link.color-yellish.active {
//     background-color: #ffa726;
//     color: white;
// }

// .sidebar a.nav-link.color-greenish:hover,
// .sidebar a.nav-link.color-greenish.active {
//     background-color: #5cb85c;
//     color: white;
// }

// .sidebar a.nav-link.color-cherrish:hover,
// .sidebar a.nav-link.color-cherrish.active {
//     background-color: #c7370c;
//     color: white;
// }

// .sidebar[data-color="purple"] li.active > a {
//     box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(90, 89, 90, 0.4);
// }

hr {
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0, 0%, 71%, 0.1);
}

ul li {
    list-style: none;
}

.off-canvas-sidebar nav .navbar-collapse::before,
.sidebar::before {
    background-color: #f2f2f2;
}

.mobil-auth {
    display: flex;
    justify-content: center;
}

.mobil-auth a i {
    color: rgb(85, 85, 85);
}

.mobil-auth a:hover {
    cursor: pointer;
}

@media (min-width: 992px) {
    .mobil-auth {
        display: none;
    }
}
