<ul class="menuajanlo">

    <li class="menu-item d-flex" *ngFor="let menu of (menuList$ | async) let i = index">

        <div class="menu-content mb-4">

            <div class="menu-name">
                {{ menu.name }}
            </div>

            <div class="menu-fogas-day">

                <div class="menu-fogas" *ngFor="let item of (soup(i) |async)">
                    <div class="menu-recipe-name">
                        <div class="menu-meals">Leves: </div>
                        <div class="menu-meals-name">{{menu.soup}}</div>
                    </div>
                    <div class="menu-recipe-img">
                        <img src="../../assets/img/recipes/{{item.img}}.jpg" routerLink="/recipes/{{item._id}}"
                            alt="{{item.img}}">
                    </div>
                    <div class="menu-recipe-cal">
                        {{item.calory}} kcal
                    </div>
                    <a routerLink="/recipes/{{item._id}}" class="menu-button">Leves recept</a>
                </div>

                <div class="menu-fogas" *ngFor="let item of (main(i) |async)">
                    <div class="menu-recipe-name">
                        <div class="menu-meals">Főétel: </div>
                        <div class="menu-meals-name">{{menu.main}}</div>
                    </div>
                    <div class="menu-recipe-img">
                        <img src="../../assets/img/recipes/{{item.img}}.jpg" routerLink="/recipes/{{item._id}}"
                            alt="{{item.img}}">
                    </div>
                    <div class="menu-recipe-cal">
                        {{item.calory}} kcal
                    </div>
                    <a routerLink="/recipes/{{item._id}}" class="menu-button">Főétel recept</a>
                </div>

                <div class="menu-fogas" *ngFor="let item of (salad(i) |async)">
                    <div class="menu-recipe-name">
                        <div class="menu-meals">Saláta: </div>
                        <div class="menu-meals-name">{{menu.salad}}</div>
                    </div>
                    <div class="menu-recipe-img">
                        <img src="../../assets/img/recipes/{{item.img}}.jpg" routerLink="/recipes/{{item._id}}"
                            alt="{{item.img}}">
                    </div>
                    <div class="menu-recipe-cal">
                        {{item.calory}} kcal
                    </div>
                    <a routerLink="/recipes/{{item._id}}" class="menu-button">Saláta recept</a>
                </div>

                <div class="menu-fogas" *ngFor="let item of (dessert(i) |async)">
                    <div class="menu-recipe-name">
                        <div class="menu-meals">Desszert: </div>
                        <div class="menu-meals-name">{{menu.dessert}}</div>
                    </div>
                    <div class="menu-recipe-img">
                        <img src="../../assets/img/recipes/{{item.img}}.jpg" routerLink="/recipes/{{item._id}}"
                            alt="{{item.img}}">
                    </div>
                    <div class="menu-recipe-cal">
                        {{item.calory}} kcal
                    </div>


                    <a routerLink="/recipes/{{item._id}}" class="menu-button">Desszert recept</a>
                </div>
            </div>

        </div>
    </li>
</ul>