<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card p-3">

                <div class="card-header card-header-purplish">
                    <h4 class="card-title">Felhasználó módosítása</h4>
                    <p class="card-category">Itt módosíthatod a felhasználó adatait</p>

                </div>

                <form [formGroup]="userForm" (ngSubmit)="onSubmit(user)">

                    <div class="form-group">
                        <label>Vezetéknév:</label>
                        <input type="text" class="form-control pl-3" name="lastName" formControlName="lastName">
                    </div>


                    <div class="form-group">
                        <label>Keresztnév:</label>
                        <input name="firstName" type="text" class="form-control pl-3" formControlName="firstName">
                    </div>

                    <div class="form-group">
                        <label>Felhasználónév:</label>
                        <input name="nickName" type="text" class="form-control pl-3" formControlName="nickName">
                    </div>

                    <div class="form-group">
                        <label>Email:</label>
                        <input name="email" type="email" class="form-control pl-3" formControlName="email">
                    </div>

                    <div class="form-group">
                        <label>Receptek száma:</label>
                        <input name="countOfRecipes" type="number" class="form-control pl-3"
                            formControlName="countOfRecipes">
                    </div>

                    <button type="submit" class="btn btn-success">Elküld</button>
                </form>
            </div>
        </div>
    </div>
</div>