.card .card-header-cherrish:not(.card-header-icon):not(.card-header-text) {
    background: linear-gradient(60deg, #c7370c, #a12d09);
}
.color-cherrish {
    color: #c7370c;
}
.color-grey {
    color: #475a63;
}

// a filter designhoz kell
.options-control {
    padding: 0 !important;
    height: 48px !important;
}
input[type="text"],
select,
textarea {
    height: 48px !important;
}
// a filter designhoz kell

// egyedi lenyíló nyíl
.custom-select {
    display: inline-block;
    width: 100%;
    color: #495057;
    background-image: url(../../../assets/img/caret-down.svg);
    background-size: 10px 30px;
    border-bottom: 1px solid #d2d2d2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 100%;
    background-position-y: 10px;
    margin-right: 8px;
}

// vonal láthatatlanná tétele
hr {
    border-top: 1px solid white;
}
