<div class="row justify-content-center align-items-center m-3">
        <span>Megjelenítés:</span>
        <select class="form-control col-1 mr-1 ml-3 custom-select" [(ngModel)]="pagiLength"
                (ngModelChange)="onLengthChange()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
        </select>
        <span class=""> / Összes elem: {{ length }} </span>
</div>

<div class="row justify-content-center align-items-center mx-1 mb-3 flex-wrap pagi-btn">

        <button type="button" class="btn btn-outline-secondary" (click)="onPagiNumber(1)"><span
                        class="material-icons">first_page</span></button>
        <button type="button" class="btn btn-outline-secondary" (click)="onPagiBack()"><span
                        class="material-icons">chevron_left</span></button>
        <button type="button" class="btn btn-outline-secondary" *ngFor="let page of [] | pagi:length: pagiLength"
                (click)="onPagiNumber(page)" [class.active]="indexPage === page">{{ page
                }}</button>
        <button type="button" class="btn btn-outline-secondary" (click)="onPagiNext()"><span
                        class="material-icons">chevron_right</span></button>
        <button type="button" class="btn btn-outline-secondary" (click)="onPagiLastNumber()"><span
                        class="material-icons">last_page</span></button>


</div>