.card .card-header-success .card-icon,
.card .card-header-success:not(.card-header-icon):not(.card-header-text) {
    background: linear-gradient(60deg, #9c27b0, #740288);
}

.card .card-header-info .card-icon,
.card .card-header-info:not(.card-header-icon):not(.card-header-text) {
    background: linear-gradient(60deg, #5cb85c, #376e37);
}

.card .card-header-danger .card-icon,
.card .card-header-danger:not(.card-header-icon):not(.card-header-text) {
    background: linear-gradient(60deg, #c7370c, #a12d09);
}

.card .card-header-warning .card-icon,
.card .card-header-warning:not(.card-header-icon):not(.card-header-text) {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.iconhover:hover {
    cursor: pointer;
}
